body {
  font-family: Arial;
  margin: 0;
  background: #0f172a;
  color: white;
}

nav {
  background: #020617;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

nav a:hover {
  color: #38bdf8;
}

.container {
  padding: 40px;
}

button {
  padding: 10px 20px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}